name: Deploy to Firebase Hosting
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: 'projects/391704584139/locations/global/workloadIdentityPools/github-pool-v2/providers/github-provider-v2'
          service_account: 'github-action-1029889626@restaurant-groundworks-db.iam.gserviceaccount.com'
          create_credentials_file: true # This creates the secret token file

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Deploy to Firebase
        # This line tells Firebase to use the token from the step above
        run: firebase deploy --only hosting --project restaurant-groundworks-db
        env:
          GOOGLE_APPLICATION_CREDENTIALS: ${{ steps.auth.outputs.credentials_file_path }}