name: Deploy to Firebase Hosting
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: 'projects/391704584139/locations/global/workloadIdentityPools/github-pool/providers/github-provider'
          service_account: 'github-action-1029889626@restaurant-groundworks-db.iam.gserviceaccount.com'

      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_RESTAURANT_GROUNDWORKS_DB }}'
          projectId: restaurant-groundworks-db